INACTIVE_CAMPAIGN_DETAILS_URL=
NEWRELIC_CONFIG_FILE=
AGENT_DETAILS_URL=
CAMPAIGN_DETAILS_URL=
MYSQL_URL=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
BUCKET_NAME=
REDSHIFT_HOST=
REDSHIFT_DBNAME=
REDSHIFT_DB_USERNAME=
REDSHIFT_DB_PASSWORD=
USER_DETAILS_URL=
REPORTING_SCHEMA_NAME=
APPLICATION_SCHEMA_NAME=
APP_SETTINGS=
TIER_DETAILS_URL=
V1_REPORTING_SCHEMA_NAME=
WIDGET_CODE_URL=
WIDGET_CODE_BUCKET_NAME=
ACCOUNT_DETAILS_URL=
TAG=