export SOCIALMONITOR_MONGODB_URL=
export SOCIALMONITOR_PORT=
export NODE_ENV=
export SOCIALMONITOR_TLS_CA_FILE_PATH=
export SOCIALMONITOR_TLS_CERT_KEY_FILE_PATH=
#export MYSQL_HOST=
#export MYSQL_USER=
#export MYSQL_PASSWORD=
#export MYSQL_DATABASE=
export SOCIALMONTIOR_MYSQL_DATABASE_URL=
export AWS_ACCESS_KEY=
export AWS_SECRET_KEY=
export AWS_REGION=
export AWS_SIGNATURE_VERSION=
export AWS_BUCKET=
export V2_API_URL=
